<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">David</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{'home'|translate}}</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">{{'about'| translate}}</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">{{'share'| translate}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <select class="form-select" (change)="ChangeLanguage($event)" name="" id="" >
                    <option [selected]="lang==='en'" value="en">English</option>
                    <option [selected]="lang==='ge'" value="ge">Georgian</option>
                    <option [selected]="lang==='de'" value="de">German</option>
                    <option [selected]="lang==='fr'" value="fr">French</option>
                    <option [selected]="lang==='ru'" value="ru">Russian</option>
                    <option [selected]="lang==='esp'" value="esp">Espanol</option>
                </select>
            </li>
        </ul>
    </div>

    </div>
</nav>
