
<div style="width: 100%; height: 100%;">
<div class="card">
    <div class="card-header">
        <h1>{{"info"|translate}} </h1>
    </div>
    <div class="card-content">
        <img src="../../assets/depositphotos_36220949-stock-photo-beautiful-landscape.jpg" alt="Name" class="photo">
        <h4 class="card-content-text">{{"name"|translate}}: David</h4>
        <h4 class="card-content-text">{{"email"|translate}}: kadaprius@gmail.com</h4>
        <h4 class="card-content-text">{{"mobile"|translate}}: +995 ...</h4>
    </div>
    <div class="card-footer">
       <button class="subscirebtn" style="width: fit-content;
       ">{{"subscribe"|translate}}</button>
    </div>
</div>
</div>